In [17]:
import numpy as np
import pandas as pd

In [18]:
data = pd.read_csv('seattle-weather.csv')

In [19]:
data.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [20]:
data['date'] = pd.to_datetime(data['date'])

In [21]:
from sklearn.preprocessing import LabelEncoder
def LabelEncoding(column):
    Label_Encoder = LabelEncoder()
    data[column] = Label_Encoder.fit_transform(data[column])

LabelEncoding('weather')

In [22]:
data.head()

        date  precipitation  temp_max  temp_min  wind  weather
0 2012-01-01            0.0      12.8       5.0   4.7        0
1 2012-01-02           10.9      10.6       2.8   4.5        2
2 2012-01-03            0.8      11.7       7.2   2.3        2
3 2012-01-04           20.3      12.2       5.6   4.7        2
4 2012-01-05            1.3       8.9       2.8   6.1        2

In [23]:
data = data.drop(['date'], axis=1)
x = data.drop('weather', axis=1)
y = data['weather']

In [24]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [25]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1168, 4)
(293, 4)
(1168,)
(293,)

In [26]:
data.sample(5)

      precipitation  temp_max  temp_min  wind  weather
397             0.3      11.7       5.0   2.9        2
261             0.0      27.8      11.7   1.4        4
1176            1.0      11.7       6.1   2.3        2
1007            0.0      21.7      12.2   1.2        4
982             0.0      21.7      13.3   2.3        4

In [27]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

In [28]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(x_train, y_train)

# Predicting the Test set results
y_pred = classifier.predict(x_test)

#Getting the accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8122866894197952

In [29]:
#Saving the model
import pickle
pickle.dump(classifier, open('model.pkl','wb'))